@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model IEnumerable<Learner>
<div class="ms-2 mx-2">
    <h1>Learner List</h1>
    @await Component.InvokeAsync("Major")
    <div id="content"> @* đánh dấu the div để bao cái table learner , khi action PartialView("TableLearner", Learner) được gọi thì cái thẻ div này sẽ bao cái table Learner*@
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Ngành</th>
                    <th>Ngày Nhập Học</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.LearnerID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.Major.MajorName</td>
                        <td>@s.EnrollmentDate</td>
                        @*<td><a asp-action="Edit">Edit</a>|<a asp-action="Delete">Delete</a></td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Create" class="btn btn-primary">Create New Student</a>
</div>
@*viết script đê thực thi hàm thay đổi vùng div content chứ table learner*@
@section Scripts{
    <script>
        $("li").click(function(e) { // khi click vào thẻ li ( chứ các tên MajorID thì sẽ thực thi hàm sau). trong trường hợp dự án có nhiêu thể li khác nhau thì mình phải đặt id cho li
            var id = $(this).attr("id"); //lấy cái biến id 
            $.ajax({
                url: "LearnerByMajorID", // chạy cái action LearnerBy Major
                data: { mid: id},     // dât gửi lên chính là cái id 
                success: function (response){
                    $("div#content").html(response); // thay đổi cái html bằng cái response nhận được (chính là cái table learner) thẻ div có id Content sẽ bao cái table learner sau khi reponse
                }
            });
        });
    </script>
}